.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

/* Credit Cards */

.credit__cards{
    max-width: 620px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.credit__card{
    width: 288px;
    min-height: 168px;
    border-radius: 12px;
    padding: 12px 18px;
    background-position: center;
    color: #fff;
    position: relative;
}

.credit__card.credit__card--visa{
    background-image: url("/public/backgrounds/visa-background.png");
}

.credit__card.credit__card--mastercard{
    background-image: url("/public/backgrounds/mastercard-background.png");
}

.credit__card.credit__card--nequi{
    background-image: url("/public/backgrounds/nequi-background.png");
}

.credit__card.credit__card--bancolombia{
    background-image: url("/public/backgrounds/bancolombia-background.png");
}

.credit__card img{
    position: absolute;
    right: 18px;
    top: 14px;
}

.credit__subtitle{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.credit__balance{
    font-size: 28px;
    margin-bottom: 11px;
}

.credit__number{
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 11px;
}

.credit__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column__title{
    font-weight: 400;
    font-size: 12px;
}

.column__value{
    font-weight: 500;
    font-size: 16px;
}

.credit__button, .effective__edit{
    width: 36px;
    height: 36px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #E1E6EF;
    cursor: pointer;
    transition: .3s ease-in-out scale;
    position: absolute;
    right: 10px;
    bottom: -16px;
    color: var(--blue);
}

.credit__button:hover, .effective__edit:hover{
    scale: 1.1;
}

.credit__card--add{
    display: flex;
    background-image: none;
    border: 2px dashed #6B6F7B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #6B6F7B;
    cursor: pointer;
    transition: .3s ease-in-out scale;
}

.credit__card--add:hover{
    scale: 1.05;
}

.credit__card--add i{
    font-size: 32px;
}

.credit__title{
    font-weight: 500;
    font-size: 16px;
}

/* Effective Card */

.card__effective{
    width: 224px;
    height: fit-content;
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.effective_icon{
    width: 56px;
    height: 56px;
    background-color: rgba(37, 201, 53, 0.2);
    color: var(--primary);
    border-radius: 50%;
    font-size: 28px;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}

.effective__title{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 4px;
    opacity: 0.8;
}

.effective__balance{
    font-size: 26px;
}

@media screen and (min-width: 744px){
    .cards{
        gap: 48px;
    }
}