.header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header img{
    cursor: pointer;
}

h1{
    font-size: 28px;
}

@media screen and (min-width: 744px) {
    h1{
        font-size: 36px;
    }
}